/* The web page should use fill the whole browser window, without borders */
html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }

/* Division of page */
#measurements { width: 21em; float: left; margin-top: 0px; margin-left: 20px; }
#plot { width: 800px; margin-left: 24em; margin-top: 20px; }
#plot_header { text-align: center; }
#plot_footer { text-align: center; font-weight: normal; }
#plot_canvas { width: 800px; height: 500px; }

/* Formatting of individual components */
#measurements_table { margin-left: 0px; }
.measurements_info { padding-left: 5px; padding-right: 5px; font-weight: bold; cursor: pointer; }
.help_icon { height: 15px; width: 15px; margin-top: 4px; }
.measurements_label { width: 12em; padding-left: 10px; color: rgb(120,120,120); }
.measurements_label:hover { text-decoration: none; cursor: pointer; }
.measurements_label .col_x { font-weight: bold; color: rgb(70,0,0); }
.measurements_label .col_y { font-weight: bold; color: rgb(180,0,0); }
.col_x { font-weight: bold; color: rgb(70,0,0); }
.col_y { font-weight: bold; color: rgb(180,0,0); /* rgb(0,0,200); */ }
.measurements_input { padding-left: 20px; }
.measurements_input input { width: 3em; text-align: right; padding-right: 4px; }
.measurements_unit { padding-left: 1px; }

/* Tooltips */
#tooltip { position: absolute; z-index: 9999; font-weight: normal;
           background-color: rgb(230,230,230); padding: 7px; max-width: 400px; }
